.todo {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 180px;
  padding: 20px;
  border-radius: 20px;
  min-height: 300px;
  max-height: 60vh;
  width: 300px;
}

#todo-form input {
  width: 300px;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.747);
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.747);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
}

#todo-form input:focus {
  outline: none;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow: auto;
  padding-left: 10px;
}

#todo-list::-webkit-scrollbar {
  display: none;
}

#todo-list li {
  margin-bottom: 10px;
}

#todo-list li button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
